<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/home.html}">

<!-- content layout -->
<div layout:fragment="content">

    <style>
        input[type="checkbox"] { width: 16px; height: 16px; }
    </style>

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/img/33.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2 id="info">장바구니</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <section class="shoping-cart spad" style="padding-top: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                            <tr>
                                <th><input type="checkbox" id="checkall" onclick="checkAll()" style="width: 80px;"></th>
                                <th class="shoping__product">Products</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                                <th:block th:if="${not #lists.isEmpty(cartItems)}">
                                    <tr th:each="cartItem : ${cartItems}">
                                        <td class="text-center align-middle">
                                            <input type="checkbox" name="cartChkBox" th:value="${cartItem.cartItemId}">
                                        </td>
                                        <td class="shoping__cart__item">
                                            <img th:src="${cartItem.imgUrl}" class = "rounded repImg" th:alt="${cartItem.itemNm}" style="width: 100px; height: auto;">
                                            <h5 th:text="${cartItem.itemNm}"></h5>
                                        </td>
                                        <td class="shoping__cart__price" th:id="'price_' + ${cartItem.cartItemId}"
                                            th:data-price="${cartItem.price}" th:text="${cartItem.price} + '원'"></td>
                                        <td class="shoping__cart__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" name="count" th:id="'count_' + ${cartItem.cartItemId}"
                                                           th:value="${cartItem.count}" readonly>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="shoping__cart__total" th:id="'totalPrice_' + ${cartItem.cartItemId}"
                                            name="totalPrice" th:text="${cartItem.price * cartItem.count} + '원'"></td>
                                        <td class="shoping__cart__item__close">
                                            <span class="icon_close" th:data-id="${cartItem.cartItemId}" onclick="deleteCartItem(this)"></span>
                                        </td>
                                    </tr>
                                </th:block>
                                <th:block th:if="${#lists.isEmpty(cartItems)}">
                                    <tr><td colspan="6" class="text-center" style="font-family: SansLightFont;">장바구니가 비었습니다.</td></tr>
                                </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                        <a href="#" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                        <a href="#" class="primary-btn cart-btn cart-btn-right"><span class="icon_loading"></span>
                            Upadate Cart</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__continue">
                        <div class="shoping__discount">
                            <h5>Discount Codes</h5>
                            <form id="couponForm" action="/coupon">
                                <input id="couponCode" type="text" placeholder="Enter your coupon code">
                                <button type="submit" class="site-btn">APPLY COUPON</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__checkout">
                        <h5>Cart Total</h5>
                        <ul>
                            <li>판매 가격 <span id="orderTotalPrice">0원</span></li>
                            <li id="couponDiscountOn" style="display: none;">쿠폰 할인 <span id="couponDiscount">-0원</span></li>
                            <li>결제 금액 <span id="orderFinalPrice">0원</span></li>
                        </ul>
                        <a onclick="orders()" class="primary-btn" style="cursor: pointer;">주문하기</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>
<!-- content layout end -->





<!-- 사용자 스크립트 추가 -->
<script layout:fragment="script" th:inline="javascript">

    var couponDiscount = 0;

    $(document).ready(function(){

        $("input[name=cartChkBox]").change( function(){
            getOrderTotalPrice();
        });

        //쿠폰
        $('#couponForm').submit(function(event) {
            // 기본 동작을 막습니다.
            event.preventDefault();

            // 쿠폰 코드를 가져옵니다.
            var couponCode = $('#couponCode').val();

            if (couponCode.trim() == "쿠폰") {
                couponDiscount = 3000;
                // 쿠폰 할인 정보를 표시합니다.
                $('#couponDiscount').text("- " + couponDiscount.toLocaleString() + '원');
                $('#couponDiscountOn').show(); // 쿠폰 할인 정보가 있는 경우 보여줍니다.
                var orderFinalPrice = orderTotalPrice - couponDiscount;
                $('#orderFinalPrice').text(orderFinalPrice.toLocaleString() + '원');
            } else if (couponCode.trim() == "황인철") {
                couponDiscount = 1000000;
                $('#couponDiscount').text("- " + couponDiscount.toLocaleString() + '원');
                $('#couponDiscountOn').show(); // 쿠폰 할인 정보가 있는 경우 보여줍니다.
                var orderFinalPrice = orderTotalPrice - couponDiscount;
                $('#orderFinalPrice').text(orderFinalPrice.toLocaleString() + '원');
            } else {
                couponDiscount = 0;
                $('#couponDiscount').text("- " + couponDiscount.toLocaleString() + '원');
                $('#couponDiscountOn').hide();
                alert("존재하지 않는 쿠폰 코드입니다.");
            }
            getOrderFinalPrice(); // 파이날프라이스 함수 호출
        });


    });
    // 장바구니 상품 선택시 총 주문 금액 계산
    function getOrderTotalPrice(){
        var orderTotalPrice = 0;
        $("input[name=cartChkBox]:checked").each(function() {
            var cartItemId = $(this).val();
            var price = $("#price_" + cartItemId).attr("data-price");
            var count = $("#count_" + cartItemId).val();
            orderTotalPrice += price*count;
        });

        $("#orderTotalPrice").html(orderTotalPrice.toLocaleString()+'원');
        getOrderFinalPrice();
    }

    //최종 금액 계산
    function getOrderFinalPrice() {
        var orderTotalPriceText = $("#orderTotalPrice").text();
        var orderTotalPrice = parseInt(orderTotalPriceText.replace(/[^0-9]/g, '')); // 숫자 값만 추출하여 , 제거 후 정수로 변환
        var couponDiscountText = $("#couponDiscount").text();
        var couponDiscount = parseInt(couponDiscountText.replace(/[^0-9]/g, '')); // 숫자값만 추출하여 , 제거 후 정수로 변환
        var finalPrice = orderTotalPrice - couponDiscount; // 쿠폰 할인 금액 반영
        if (finalPrice <= 0) {
            $("#orderFinalPrice").html('0원');
        } else {
            $("#orderFinalPrice").html(finalPrice.toLocaleString() + '원');
        }
    }

    // 상품 수량 변경
    $(".pro-qty").click(function() {
        changeCount($(this));
    });
    function changeCount(obj) {
        var count = $(obj).find('input[name="count"]').val();
        if (count == 0) {
            $(obj).find('input[name="count"]').val(1);
        } else {
            var cartItemId = $(obj).find('input[name="count"]').attr("id").split('_')[1];
            var price = $("#price_" + cartItemId).data("price");
            var totalPrice = count * price;
            $("#totalPrice_" + cartItemId).text(totalPrice + '원');
            getOrderTotalPrice();  // 총 주문 금액 재계산
            updateCartItemCount(cartItemId, count);  // 장바구니 상품 수량 업데이트
        }
    }


    // 상품 전체 선택
    function checkAll(){
        if($("#checkall").prop("checked")){
            $("input[name=cartChkBox]").prop("checked",true);
        }else{
            $("input[name=cartChkBox]").prop("checked",false);
        }
        getOrderTotalPrice();  // 22 행 실행
    }
    // 상품 수량 변경시 장바구니에 담긴 상품 수량 업데이트
    function updateCartItemCount(cartItemId, count){
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        var url = "/cartItem/" + cartItemId+"?count=" + count;

        $.ajax({
            url      : url,
            type     : "PATCH",       // 부분 업데이트용
            beforeSend : function(xhr){
                /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                xhr.setRequestHeader(header, token);
            },
            dataType : "json",
            cache   : false,
            success  : function(result, status){
                console.log("cartItem count update success");
            },
            error : function(jqXHR, status, error){

                if(jqXHR.status == '401'){
                    alert('로그인 후 이용해주세요');
                    location.href='/member/login';
                } else{
                    alert(jqXHR.responseJSON.message);
                }

            }
        });
    }
    // x 버튼 클릭시 장바구니에 담긴 상품 삭제 357 추가
    function deleteCartItem(obj){
        var cartItemId = obj.dataset.id;
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        var url = "/cartItem/" + cartItemId;

        $.ajax({
            url      : url,
            type     : "DELETE",  // delete 메서드
            beforeSend : function(xhr){
                /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                xhr.setRequestHeader(header, token);
            },
            dataType : "json",
            cache   : false,
            success  : function(result, status){
                location.href='/cart';  // 삭제가 정상실행시 장바구니 페이지 새로 고침
            },
            error : function(jqXHR, status, error){

                if(jqXHR.status == '401'){
                    alert('로그인 후 이용해주세요');
                    location.href='/member/login';
                } else{
                    alert(jqXHR.responseJSON.message);
                }

            }
        });
    }
    // 상품 주문하기 363 추가
    function orders(){
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        var url = "/cart/orders";

        var dataList = new Array();
        var paramData = new Object();

        $("input[name=cartChkBox]:checked").each(function() {  // 체크된 장바구니 상품 아이디를 전달 datalist 배열에 장바구나 상품 아이디를 객체로 만들어 저장
            var cartItemId = $(this).val();
            var data = new Object();
            data["cartItemId"] = cartItemId;
            dataList.push(data);
        });

        paramData['cartOrderDtoList'] = dataList;  // 장바구나 상품 아이디를 저장하고 있는 dataList 배열을 paramData 객체에 추가

        var param = JSON.stringify(paramData);

        $.ajax({
            url      : url,
            type     : "POST",
            contentType : "application/json",
            data     : param,
            beforeSend : function(xhr){
                /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                xhr.setRequestHeader(header, token);
            },
            dataType : "json",
            cache   : false,
            success  : function(result, status){
                alert("주문이 완료 되었습니다.");
                location.href='/orders';  // 주문 성공시 구매 이력 페이지로 이동
            },
            error : function(jqXHR, status, error){

                if(jqXHR.status == '401'){
                    alert('로그인 후 이용해주세요');
                    location.href='/member/login';
                } else{
                    alert(jqXHR.responseJSON.message);
                }

            }
        });
    }

</script>


</html>